body, html {
  text-align: center;
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {font-family: "Allerta Stencil", Helvetica, sans-serif;}

/* responsive (vw) */
.xlarge{font-size:clamp(1.25rem,4vw,4rem)!important}
.small {font-size: clamp(0.75rem,1.75vw,1.25rem)!important}

.bgimg {
  height: 100dvh;
  height: 100vh; /* fallback */
  background-position: center;
  background-size: cover;
}

.glass-box {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0px;
  padding: 5px 40px;
  width: 100%;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fade 10s infinite;
}
@keyframes fade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 1; }
  100% { opacity: 0; }
}
